<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
>
	<extensions>
		<add assembly="Sentry.NLog" />
	</extensions>

	<targets>
		<target xsi:type="Sentry" name="sentry"
				dsn="https://d700368ca9694755822d1c91431470e4@apm.arabam.com/12"
				layout="${message}"
				environment="Development"
				breadcrumbLayout="${message}"
				minimumBreadcrumbLevel="Debug"
				minimumEventLevel="Debug">

			<!-- Advanced options can be configured here-->
			<options
				sendDefaultPii="true"
				attachStacktrace="false"
				shutdownTimeoutSeconds="5"
				debug="false"
        >
				<!--Advanced options can be specified as attributes or elements-->
				<includeEventDataOnBreadcrumbs>true</includeEventDataOnBreadcrumbs>
			</options>

			<!--Optionally add any desired additional Tags that will be sent with every message -->
			<tag name="exception" layout="${exception:format=shorttype}" includeEmptyValue="false" />

			<!--Optionally add any desired additional Data that will be sent with every message -->
			<contextproperty name="threadid" layout="${threadid}" includeEmptyValue="true" />
		</target>
	</targets>

	<rules>
		<logger name="*" writeTo="sentry" />
	</rules>
</nlog>